body{
    background-color:#F2F5F9;
    color:#434D54;
    font-size:18px;
    font-family: 'Roboto';
    font-weight: 500;
}

.nav-link{
    color:#434D54;
}
.nav-link.active{
    color:#0077FF;
}

#appHeader{
    padding: 0px 30px;
}

#displaySide{
    margin:0px 0px 10px;
}

#whiteBoard{
    background-color: #FFFFFF;
}